<!-- display data for given comment -->
<div>
    <!-- commenter -->
    <h4 class="align-left"><a class="no-dec username logo" href="/{{user.username}}">{{user.username}}</a></h4>

    <!-- content -->
    <p class="align-left">{{content}}</p>
</div>