<!-- display data for given comment -->
<div>
    <!-- commenter -->
    <h4><a class="no-dec username logo" href="/{{user.username}}">{{user.username}}</a></h4>

    <!-- content -->
    <p>{{content}}</p>
    <button data-comment-id="{{id}}" class="delete-comment">Delete Comment</button>
</div>