<!-- Login modal box -->
<div id="login-modal" class="modal hide">
    <div class="modal-content">
    <span class="close">&times;</span>
    <h1>Login</h1>
    <label>Email/Username:</label>
    <br>
    <input id="login_emailusername" type="text">
    <span id="login_emailusername_miss" class="star hide error">&#42;</span>
    <br>
    <br>
    <label>Password:</label>
    <br>
    <input id="login_pw" type="password">
    <span id="login_pw_miss" class="star hide error">&#42;</span>
    <br>
    <div id="login_error" class="hide">
        <span class="flashMsg error"><i>Email/Username</i> and <i>Password</i> does not match.</span>
    </div>
    <br>
    <br>
    <input id="login" type="submit" value="Login">
    </div>
</div>