<!-- Login modal box -->
<form id="login-modal" class="modal hide">
    <div class="modal-content">
        <span id="login-close" class="close">&times;</span>
        <h1>Login</h1>
        <label>Username:</label>

        <br>

        <input id="login_username" type="text">
        <span id="login_username_miss" class="star hide error">&#42;</span>

        <br>
        <br>

        <label>Password:</label>

        <br>

        <input id="login_pw" type="password">
        <span id="login_pw_miss" class="star hide error">&#42;</span>

        <br>

        <div id="login_error" class="hide">
            <span class="flashMsg error"><i>Email/Username</i> and <i>Password</i> does not match.</span>
        </div>

        <br>
        <br>

        <input id="login" type="submit" value="Login">
    </div>
</form>