<!-- register modal box -->
<form id="register-modal" class="modal hide">
    <div class="modal-content">
        <span id="register-close" class="close">&times;</span>
        <h1>Register</h1>
        <label>Username:</label>

        <br>

        <input id="register_username" type="text">
        <span id="register_username_miss" class="star hide error">&#42;</span>

        <br>
        <br>

        <label>Password:</label>

        <br>

        <input id="register_pw" type="password">
        <span id="register_pw_miss" class="star hide error">&#42;</span>

        <br>

        <div id="register_error" class="hide">
            <span class="flashMsg error"><i>Username</i> and <i>Password</i> does not match.</span>
        </div>

        <br>
        <br>

        <input id="register" type="submit" value="Register">
    </div>
</form>