<div class="column">
    <section class="new-opinion">
        <h3>What are you thinking about?</h3>

        <!-- action must be added -->
        <form id="opinion-form">
            <br>
            <label for="opinion-name">In your opinion:</label>
            <input type="text" id="opinion-name" name="opinion-name" />

            <textarea id="opinion-text" name="opinion-text" placeholder="Care to elaborate?" name="text"></textarea>
            
            <div class="opinion-post">
            <button id="submit-btn" type="submit">Post</button>
            </div>
        </form>
    </section>

    <!-- place divider here? -->
    <span>=================</span>

    <!-- holds others' posts / opinions -->
    <section id="opinion-container">
        {{#each posts as |post|}} <!-- loop over each post -->
        <div>
            {{> post post}}
        </div>
        {{/each}}
    </section>
</div>

<!-- load js -->
<script src="/javascript/new-opinion.js"></script>
<script src="/javascript/like-dislike.js"></script>